html,
body {
  min-height: 100%; }

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

header {
  margin: 5px 0 5px 0; }
  header h1 {
    margin: 0;
    text-align: center;
    min-height: 82px;
    line-height: 75px;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey; }
    header h1 a {
      color: #000;
      text-decoration: none; }

main {
  max-width: 1500px;
  margin: auto;
  display: flex; }
  main .me {
    flex-shrink: 0;
    color: #dddddd;
    width: 273px;
    height: 561px;
    background: #282828;
    overflow: hidden;
    border-radius: 7px; }
    main .me h3 {
      text-align: center;
      font-weight: 600; }
      main .me h3 span {
        color: #808080; }
    main .me img {
      display: block;
      margin: 0 auto;
      margin-bottom: 50px; }
    main .me p {
      padding: 0 10px;
      text-align: center;
      font-size: 16px;
      margin-bottom: 30px; }
      main .me p span {
        text-decoration: underline; }
  main .work {
    flex-grow: 1;
    padding: 0 30px; }
    main .work .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      main .work .items .workItem {
        height: 190px;
        margin: 20px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.5) -4px 8px 30px 3px; }
        main .work .items .workItem a {
          color: black; }
        main .work .items .workItem .workImg {
          position: relative; }
          main .work .items .workItem .workImg:hover .workHidden {
            height: 190px;
            visibility: unset;
            color: white;
            transition: 0.6s;
            background: rgba(0, 0, 0, 0.514);
            top: 0;
            left: 0;
            right: 0;
            left: 0;
            opacity: 1; }
          main .work .items .workItem .workImg .workHidden {
            position: absolute;
            opacity: 0;
            width: 181px;
            height: 190px;
            font-size: 26px;
            font-weight: 700;
            text-align: center;
            text-shadow: 1px 1px 6px black;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s; }
            main .work .items .workItem .workImg .workHidden p {
              margin: 0; }
            main .work .items .workItem .workImg .workHidden img {
              width: 181px; }
  main .files {
    flex-shrink: 0;
    width: 210px; }
    main .files h2 {
      font-size: 18px;
      text-align: center;
      text-decoration: underline;
      margin-bottom: 0px; }
    main .files .filesList .btnCenter {
      margin-top: 20px;
      text-align: center;
      margin-bottom: 15px; }
      main .files .filesList .btnCenter .btnCoinBox {
        color: white;
        background: #2a2a2a;
        text-decoration: none;
        padding: 10px;
        transition: 0.3s; }
        main .files .filesList .btnCenter .btnCoinBox:hover {
          background: #7e7e7e; }
    main .files .filesList .items {
      padding-top: 7px; }
      main .files .filesList .items:hover {
        background: rgba(0, 0, 0, 0.05);
        transition: 0.5s; }
      main .files .filesList .items a {
        text-decoration: none;
        color: #242222; }
        main .files .filesList .items a:hover {
          color: #5a5454; }
        main .files .filesList .items a img {
          display: block;
          margin: auto; }
        main .files .filesList .items a p {
          margin: 0;
          text-align: center; }

nav {
  margin-top: 39px; }
  nav ul {
    display: flex;
    padding: 0; }
    nav ul a {
      text-decoration: none;
      color: unset; }
    nav ul li {
      background: #2a2a2a;
      padding: 20px 0;
      color: #808080;
      font-weight: 600;
      text-align: center;
      flex-grow: 1;
      list-style-type: none;
      transition: 0.4s;
      position: relative; }
      nav ul li:hover {
        transition: 0.4s;
        color: #d8d8d8; }
      nav ul li:first-child {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px; }
      nav ul li:last-child {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px; }
      nav ul li ul {
        position: absolute;
        width: 100%;
        flex-direction: column;
        padding: 0;
        bottom: 60px;
        padding-bottom: 10px; }
        nav ul li ul li {
          padding: 5px; }
          nav ul li ul li:first-child {
            border-top-left-radius: unset;
            border-bottom-left-radius: unset; }
          nav ul li ul li:last-child {
            border-top-right-radius: unset;
            border-bottom-right-radius: unset; }
      nav ul li .toBottom {
        padding-top: 10px;
        bottom: unset;
        top: 60px;
        z-index: 2; }
    nav ul .dropDown {
      overflow: hidden; }
      nav ul .dropDown:hover {
        overflow: unset; }

.workMarginTop {
  margin-top: 10px; }

.container {
  max-width: 700px;
  margin: auto; }

.toRight {
  left: -195px; }

.toLeft {
  left: 195px; }

.toUp {
  top: 195px; }

.toDown {
  top: -195px; }

.heightFix {
  height: 190px; }

.workPage .container {
  max-width: 700px;
  margin: auto; }
.workPage h3 {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: #646464; }

@media only screen and (max-width: 1010px) {
  main {
    display: block; }
    main .me {
      display: inline-block;
      width: 30%;
      vertical-align: top; }
      main .me h3 {
        font-size: 27px; }
    main .work {
      display: inline-block;
      width: 68%;
      padding: 0; }
    main .files {
      display: block;
      margin: auto; }
    main nav {
      position: relative;
      right: 20%; } }
@media only screen and (max-width: 750px) {
  .about {
    flex-direction: column; }
    .about .picture img {
      display: block;
      margin: auto; }
    .about .text h2 {
      text-align: center; } }
@media only screen and (max-width: 675px) {
  main .me {
    display: block;
    width: unset;
    height: 360px;
    text-align: center; }
    main .me h3 {
      margin-right: 20px; }
    main .me h3,
    main .me img {
      display: inline-block;
      vertical-align: middle; }
    main .me img {
      margin-bottom: 10px;
      height: 180px; }
  main .work {
    display: block;
    padding: 0;
    margin: auto;
    width: unset; }
  main .files {
    display: block;
    margin: auto; }
  main nav {
    position: unset; } }
.container {
  max-width: 980px;
  margin: auto; }

.about {
  color: #4e4e4e;
  display: flex; }
  .about .picture img {
    width: 400px; }
  .about .text {
    margin-left: 20px; }
    .about .text p {
      line-height: 25px; }

.contact {
  display: flex; }
  .contact h2 {
    margin-bottom: 60px; }
  .contact .text {
    margin-top: 135px;
    margin-left: 50px; }
    .contact .text a {
      text-decoration: none;
      color: white;
      background: #0e1304;
      padding: 10px 20px;
      font-size: 18px; }
      .contact .text a:hover {
        background: #555553; }

.tr {
  height: 20px;
  visibility: hidden;
  position: relative;
  bottom: 250px; }

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/*jssor slider bullet skin 051 css*/
.jssorb051 .i {
  position: absolute;
  cursor: pointer; }

.jssorb051 .i .b {
  fill: #fff;
  fill-opacity: 0.5; }

.jssorb051 .i:hover .b {
  fill-opacity: .7; }

.jssorb051 .iav .b {
  fill-opacity: 1; }

.jssorb051 .i.idn {
  opacity: .3; }

/*jssor slider arrow skin 105 css*/
.jssora105 {
  display: block;
  position: absolute;
  cursor: pointer; }

.jssora105 .c {
  fill: #000;
  opacity: .5; }

.jssora105 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 350;
  stroke-miterlimit: 10; }

.jssora105:hover .c {
  opacity: .5; }

.jssora105:hover .a {
  opacity: .8; }

.jssora105.jssora105dn .c {
  opacity: .2; }

.jssora105.jssora105dn .a {
  opacity: 1; }

.jssora105.jssora105ds {
  opacity: .3;
  pointer-events: none; }

#jssor_1,
#jssor_2,
#jssor_3 {
  margin-bottom: 50px !important; }

/*# sourceMappingURL=style.css.map */
